<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>AddParcelServlet</servlet-name>
        <servlet-class>AddParcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddParcelServlet</servlet-name>
        <url-pattern>/AddParcelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClaimParcelServlet</servlet-name>
        <servlet-class>ClaimParcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClaimParcelServlet</servlet-name>
        <url-pattern>/ClaimParcelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateBookingServlet</servlet-name>
        <servlet-class>CreateBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBookingServlet</servlet-name>
        <url-pattern>/CreateBookingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSlotServlet</servlet-name>
        <servlet-class>AddSlotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSlotServlet</servlet-name>
        <url-pattern>/AddSlotServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MarkCollectedServlet</servlet-name>
        <servlet-class>MarkCollectedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkCollectedServlet</servlet-name>
        <url-pattern>/MarkCollectedServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSlotServlet</servlet-name>
        <servlet-class>DeleteSlotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSlotServlet</servlet-name>
        <url-pattern>/DeleteSlotServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteParcelServlet</servlet-name>
        <servlet-class>DeleteParcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteParcelServlet</servlet-name>
        <url-pattern>/DeleteParcelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostAddServlet</servlet-name>
        <servlet-class>PostAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostAddServlet</servlet-name>
        <url-pattern>/PostAddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NoticeAddServlet</servlet-name>
        <servlet-class>NoticeAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticeAddServlet</servlet-name>
        <url-pattern>/NoticeAddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelPostServlet</servlet-name>
        <servlet-class>DelPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelPostServlet</servlet-name>
        <url-pattern>/DelPostServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePostServlet</servlet-name>
        <servlet-class>UpdatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePostServlet</servlet-name>
        <url-pattern>/UpdatePostServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>DisplayImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/DisplayImageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CampusAccessServlet</servlet-name>
        <servlet-class>CampusAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampusAccessServlet</servlet-name>
        <url-pattern>/CampusAccessServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoingOutServlet</servlet-name>
        <servlet-class>GoingOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoingOutServlet</servlet-name>
        <url-pattern>/GoingOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Datepicker</servlet-name>
        <servlet-class>Datepicker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datepicker</servlet-name>
        <url-pattern>/Datepicker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PCServlet</servlet-name>
        <servlet-class>PCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PCServlet</servlet-name>
        <url-pattern>/PCServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>CheckInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/CheckInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstGoingOutServlet</servlet-name>
        <servlet-class>FirstGoingOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstGoingOutServlet</servlet-name>
        <url-pattern>/FirstGoingOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstGoingInServlet</servlet-name>
        <servlet-class>FirstGoingInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstGoingInServlet</servlet-name>
        <url-pattern>/FirstGoingInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondGoingOutServlet</servlet-name>
        <servlet-class>SecondGoingOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondGoingOutServlet</servlet-name>
        <url-pattern>/SecondGoingOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondGoingInServlet</servlet-name>
        <servlet-class>SecondGoingInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondGoingInServlet</servlet-name>
        <url-pattern>/SecondGoingInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddtoBlacklistServlet</servlet-name>
        <servlet-class>AddtoBlacklistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddtoBlacklistServlet</servlet-name>
        <url-pattern>/AddtoBlacklistServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Datepicker1</servlet-name>
        <servlet-class>Datepicker1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datepicker1</servlet-name>
        <url-pattern>/Datepicker1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Datepicker2</servlet-name>
        <servlet-class>Datepicker2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datepicker2</servlet-name>
        <url-pattern>/Datepicker2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Datepicker3</servlet-name>
        <servlet-class>Datepicker3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datepicker3</servlet-name>
        <url-pattern>/Datepicker3</url-pattern>
    </servlet-mapping>
</web-app>